doctype html
html
  head
    title Express App
  body
    nav
      ul
        li: a(href='/home') Home
        li: a(href='/about') About
        li: a(href='/contact') Contact
    h1 Welcome!
    p Here's your personalized dashboard.
    h2 Your Interests
    ul
      each book in books
        li 
        a(href='/book-detail/' + book.isbn) #{book.title} 
        //- a(href="/" + book.isbn + "/edit") Edit
    
        form(action="/edit/" + book.isbn method="GET" style="display: inline;") 
            button(type="submit") Edit
        form(action="/" + book.isbn + "?_method=DELETE" method="POST" style="display: inline;") 
            button(type="submit") Delete