doctype html
html
  head
    title Express App
  body
    nav
      ul
        li: a(href='/home') Home
        li: a(href='/about') About
        li: a(href='/contact') Contact
    h1 Welcome, #{user.name}!
    p Here's your personalized dashboard.
    h2 Your Interests
    ul
      each book in books
        li: a(href='/book-detail/' + book.isbn) #{book.title} 
 a(href="/edit/" + book.isbn) Edit
    
//- form(action="/" + book.isbn + "?_method=DELETE" method="POST") 
//- button(type="submit") Delete