doctype html
html
  head
    title Book Management App
    style.
      body { padding: 20px; }
      .form-group { margin-bottom: 1rem; }
      input, textarea { display: block; margin-bottom: 10px; }
  body
    nav
      ul
        li: a(href='/') Home
        li: a(href='/add') Add Book
    block content